# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
GITHUB_CLIENT_ID=Ov23liFEgzILEivF4wyA
GITHUB_CLIENT_SECRET=5b4040a007cc5f43bd2a7e2448ae575dc4793149
AUTH_SECRET="6wYUqKLZHbbP7qqHM1djkoiLmKTs6Jci8pkX2d4nLrg="